body{
    background-color: dimgray;
}
#main{
    display: flex;
    flex-flow: row;
    justify-content: space-between
}
#mycanvas{
    border: 2px solid #FFF;
    position: absolute;
    margin :auto;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
#playerOne{
    margin-top: 10%;
    margin-left: 5%;
    text-align: center;
    border: 1px solid rebeccapurple;
}
#playerTwo{
    margin-top: 10%;
    margin-right: 5%;
    text-align: center;
    border: 1px solid black;
}
#playground{
    width: 700px;
    border: 1px solid red;
}