body{
    background-color: dimgray;
}
#main{
    display: flex;
    flex-flow: row;
    justify-content: space-between
}
#mycanvas{
    border: 2px solid #FFF;
    position: absolute;
    margin :auto;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
#playerOne{
    margin-top: 10%;
    margin-left: 5%;
    text-align: center;
}
#playerTwo{
    margin-top: 10%;
    margin-right: 5%;
    text-align: center;
}
#formu{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 10%;
    text-align: center;
}
input{
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    text-align: center;
}

button{
    height: 30px;
    border-radius: 5px;

}

label{
    font-size: 1.2em;
}
h1{
    font-size: 2.5em;
}