doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='css/style.css')
  title Erreur 404
#formu
  h1 Erreur 404
  h3 La page demandée n'existe pas
  p
    a(href='accueil.html') Accueil