doctype html
head
  meta(charset='UTF-8')
  title Pong Game JavaScript
  link(rel='stylesheet' href='css/style.css')
  script(src='https://code.jquery.com/jquery-3.3.1.js', integrity='sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=', crossorigin='anonymous')
  script(src='js/gameScript.js')
  script(src='/socket.io/socket.io.js')
    

    
    
#main
  #playerOne
    h3#connexionDroit Connexion
    p Pour vous connecté 
    br
    form(action='/connexion.html')
      input(type='submit', value='Connexion')
    p
    P Pour vous inscrire
    br
    form(action='/inscription.html')
      input(type='submit', value='Inscription')
    p #{message}

  #playground
    canvas#mycanvas(width='700' height='600')
  #playerTwo
    h3#connexionDroit Connexion
    p Pour vous connecté 
    br
    form(action='/connexion2.html')
      input(type='submit', value='Connexion')
    p
    P Pour vous inscrire
    br
    form(action='/inscription.html')
      input(type='submit', value='Inscription')
    p #{message}
script(src='js/script.js')
