doctype html
head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    title Connecion Pong
    link(rel='stylesheet' href='css/style.css')
body
    header 
        h1 Veuillez vous connecter pour être le joueur 2
        h3=title
    section
        form(action="/approuver2" method="POST")
            p
                label Pseudo :
                br

                input(type="text" name="pseudo" required='')
            
            p
                label Mot de passe :
                br

                input(type="password" name="password" required='')

            input(type="submit" value="Connexion")

            p=message