doctype html
html
head
    title=Inscription
    link(rel='stylesheet' href='css/style.css')
body
    header
        h1=title
    section
        h3=sstitle
        //-   actionForm = "/envoie"

        form(action="/envoie" method="post")
            p
                label Pseudo :
                br

                input(type="text" name="pseudo" required='')
            p
                label Mot de passe :
                br

                input(type="password" name="password" required='')
            input(type="submit" value="Enregistrer")
        if message
            p=message
            p 
                a(href='/accueil.html') ACCUEIL