doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Inscription
  link(rel='stylesheet' href='css/style.css')
#formu
  h1 Formulaire d'inscription
  form(method="post" acion="envoie" )
    label Pseudo :
    br
    input#pseudo(type='text' name='pseudo' required='')
    br
    p
    label Mot de passe :
    br
    input#pass(type='password' name='pass' required='')
    br
    p
    p
    button(type='submit' ) Enregistrer
  p
    a(href='index.html') Retour
