doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Erreur Serveur
h1 Erreur Serveur
h3 La page demand&eacute;e n&apos;existe pas
p
  a(href='index.html') Accueil